.menu {
  top: 0%;
  left: 0px;
  height: 250px;
  width: 100%;
  background-color: #006f8b;
  position: absolute;

}

.logo{ 
  width: 200px;
  height: 50px;
  margin-left: 0px;
  position: relative;
  bottom: 47px;
}

.menu-bar {
  top: 250px;
  left: 0%;
  height: 80px;
  width: 100%;
  background-color: #008690;
  position: absolute;

}

ul {
 list-style-type: none;
 margin: 0;
 padding: 0;
 overflow: hidden;
 background-color: #0000;
 
  }
  
li
{ 
  float: left;
}
  
li a 

{
  display: flex;
 color: white;
 text-align: center;
 padding: 14px 16px;
 text-decoration: none;
 position: relative;
}

li a:hover
{
    width: 179px;
    height: 50px;
    background-color: #005670;
}

h2{
  font-family:'Poppins-Thin';
  font-size: 18px;
  bottom: 20px;
}


@font-face {
  font-family: 'Poppins-Regular' ;
  src: url(../pop/Poppins-Regular.ttf);
}

@font-face {
  font-family:'Poppins-LightItalic' ;
  src: url(../pop/Poppins-LightItalic.ttf);
}

@font-face {
  font-family:'Poppins-Black' ;
  src: url(../pop/Poppins-Black.ttf);
}

@font-face {
  font-family:'Poppins-BlackItalic' ;
  src: url(../pop/Poppins-BlackItalic.ttf);
}

@font-face {
  font-family:'Poppins-Bold' ;
  src: url(../pop/Poppins-Bold.ttf);
}

@font-face {
  font-family:'Poppins-Italic' ;
  src: url(../pop/Poppins-Italic.ttf);
}

@font-face {
  font-family:'Poppins-Medium';
  src: url(../pop/Poppins-Medium.ttf);
}

@font-face {
  font-family:'Poppins-Thin' ;
  src: url(../pop/Poppins-Thin.ttf);
}